{{ partial "head.html" . }}
	<body>
		{{ partial "header.html" . }}
		{{ partial "home_page/intro_slider.html" . }}
		{{ partial "home_page/our_services.html" . }}
		{{ partial "footer.html" . }}		
		<script type="text/javascript" src="/js/jquery-latest.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/general.js"></script>
        <script type="text/javascript" src="/js/responsive-slider.js"></script>
        <script type="text/javascript" src="/js/jquery.event.move.js"></script>
		<script type="text/javascript" src="/js/jquery.form.js"></script>		
	</body>
</html>



