http://www.codescalers.com:8031, http://codescalers.com:8031 {
    bind 0.0.0.0
    gzip
    root www.codescalers.com
    git {
       repo git@github.com:codescalers/www-codescalers.git
       interval 300
       branch production
       key ../keys/id_rsa
       path ../..
       then hugo -s www.codescalers.com
    }
}
