{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}
{{ if eq .Title "The Company"}}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3 aboutPic">
        <p><img src="{{.Params.pic}}" alt="" style="clear:both;"></p>
      </div>
      <div class="col-md-9">
        <div class="content">
          <h1 class="title1">{{.Params.page_title}}</h1>
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{ if eq .Title "Careers"}}
<style type="text/css">
 .navbar.navbar-default.navbar-fixed-top { position: relative;}
 .panel-group .panel+.panel {
   /* margin-top: 55px;*/
}
</style>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="careerBox">
          <div class="col-md-9 careerP">
            <h1 class="title">{{.Params.page_title}}</h1>
            <p>{{.Params.page_disc}}</p>
          </div>
          <div class="col-md-3 center">
            <p><img src="{{.Params.pic}}" alt="" style="clear:both;"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 paddingR35">
        {{ .Content }}
      </div>
      <div class="col-md-3 c3u">
        <h5 class="title">{{.Params.social_title}}</h5>
        <p>{{.Params.social_disc}}</p>
        <div class="social1"> <a target="_blank" href="{{.Params.icon_link}}"><img src="{{.Params.icon_pic}}"></a> </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{ if eq .Title "Contact us"}}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">{{.Params.page_title}}</h1>
        <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
          <div class="caption background-white">
            <h3>{{.Params.address1_country}}</h3>
            <p><span class="fa fa-home color-lead"></span>{{.Params.address1_disc}}</p>
            <p><span class="fa fa-envelope color-lead"></span>{{.Params.address1_email1}}</p>
            <p><span class="fa fa-briefcase color-lead"></span>{{.Params.address1_email2}}</p>
            <br>
            <iframe src="{{.Params.address1_map}}"  style="border:0;width: 100%; height: 400px"></iframe>
            <hr>
            <h3>{{.Params.address2_country}}</h3>
            <p><span class="fa fa-home color-lead"></span> {{.Params.address2_disc}}</p>
            <p><span class="fa fa-envelope color-lead"></span>{{.Params.address2_email1}}</p>
            <p><span class="fa fa-briefcase color-lead"></span>{{.Params.address2_email2}}</p>
            <p><span class="fa fa-phone-square color-lead"></span>{{.Params.address2_phone1}}</p>
            <p><span class="fa fa-print color-lead"></span>{{.Params.address2_phone2}}</p>
            <br>
            <iframe src="{{.Params.address2_map}}"  style="border:0;width: 100%; height: 400px"></iframe>
          </div>
        </div>
      </div>
    </div>
    {{ .Content }}
  </div>
</section>
{{end}}


{{ partial "footer.html" . }} 
<script type="text/javascript" src="/js/jquery-latest.js"></script> 
<script type="text/javascript" src="/js/jquery.event.move.js"></script> 
<script type="text/javascript" src="/js/responsive-slider.js"></script> 
<script type="text/javascript" src="/js/general.js"></script> 
<script type="text/javascript" src="/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/js/adminmenu.js"></script> 
<script type="text/javascript" src="/js/jquery.form.js"></script>
</body>
</html>