{{ range $element :=  .Data.Pages }}
{{ if eq .Section "home" }}
{{ if eq .Title "our_services" }}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail info-thumbnail-link color-black">
          <div class="caption">
            <h3><span class="fa fa-{{.Params.box1_icon}} color-lead"></span> {{.Params.box1_title}}</h3>
            <p class="description">{{.Params.box1_disc}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail info-thumbnail-link background-lead-light">
          <div class="caption">
            <h3><span class="fa fa-{{.Params.box2_icon}}"></span> {{.Params.box2_title}}</h3>
            <p class="description">{{.Params.box2_disc}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail info-thumbnail-link color-black">
          <div class="caption">
            <h3><span class="fa fa-{{.Params.box3_icon}} color-lead"></span> {{.Params.box3_title}}</h3>
            <p class="description">{{.Params.box3_disc}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
{{end}}