h2,
h1,
p {
    font-family: 'Outfit', sans-serif;
}

.blue {
    color: #217DBB;
}

.white_blue {
    color: #50ADEC;
}

.bg_blue {
    background-color: #DDF4FF
}

.bg_blue_dark {
    background-color: #217DBB
}

.dark_bg {
    background-color: #414141;
}

.cs-blue,
.cs-blue-50 {
    background-color: #8ECFEF;
}

.cs-blue-50 {
    opacity: .5;
}

.cs-blue-50:hover {
    opacity: 1;
}

.mg-left {
    left: 44%;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 125px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 135%;
    left: 60%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.gist .highlight{
    font-size: 16px !important; 
}

.gist a{
    color: #217DBB;
}

.gist a:hover{
    color: #50ADEC;
}