<div class="container mx-auto pb-24">
  <!-- Accordion component -->
  <div class="divide-y divide-slate-200">
     <!-- Accordion item -->
     <div x-data="{ expanded: false }" class="py-2">
        <h2>
           <button
              id="faqs-title-01"
              type="button"
              class="flex items-center justify-between w-full text-left text-xl p-4 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-2 focus:ring-gray-200  hover:bg-gray-100 gap-3"
              @click="expanded = !expanded"
              :aria-expanded="expanded"
              aria-controls="faqs-text-01"
              >
              <span style="letter-spacing: normal;">Software Engineer</span>
              {# 
              <svg class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
              </svg>
              #}
              <svg class="fill-indigo-500 shrink-0 ml-8" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                 <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                 <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
              </svg>
           </button>
        </h2>
        <div
           id="faqs-text-01"
           role="region"
           aria-labelledby="faqs-title-01"
           class="grid text-sm text-slate-600 overflow-hidden transition-all duration-800 ease-in-out"
           :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
           >
           <div class="overflow-hidden">
              <div class="p-5 border border-b-0 border-gray-200">
                 <p class="mb-2 text-gray-500 text-md">The Software Engineer will work with the existing team on creating new cutting edge software systems using a variety of programming language and open-source frameworks.<br>
                    The Software team is responsible for the software part of our productsand works in collaboration with our engineering team. The team is responsible for the perfect design of new products, seamless execution of upgrades, documentation and installation procedures.<br>
                    As the requirements of our products are of a very high level, requirements for the personnel are similar. Therefore he or she needs outstanding technical skills, solid academic background and deep understanding of computer science concepts, algorithms and techniques.
                 </p>
                 <div>
                    <h3 class="text-md font-semibold mb-2">Responsibilities:</h3>
                    <ul class="text-gray-500 text-md">
                       <li>Develop and modify software components.</li>
                       <li>Works closely with Software Solution Developers to implement new features and enhancements.</li>
                       <li>Write software automated unit and integration test cases.</li>
                       <li>Contribute to installation manuals for all products and upgrades, educating the world about our products and technologies.</li>
                    </ul>
                 </div>
                 <div>
                    <h3 class="text-md font-semibold mb-2">Requirements:</h3>
                    <ul class="text-gray-500 text-md">
                       <li>Up to 3 years experience in software development relevant to the described job.</li>
                       <li>Knowledge of Python.</li>
                       <li>Achieves high quality results through thoughtful analysis and planning.</li>
                       <li>Target driven and result oriented.</li>
                       <li>Strong object-oriented skills, knowledge of GOF Design Patterns is a plus.</li>
                       <li>Deep understanding of database concepts is a must, hands on experience with PostgreSQL or MySQL is a plus.</li>
                       <li>Familiarity with Linux operating system is a must, at least use level experience.</li>
                       <li>Knowledge of Javascript, Ajax frameworks is a plus.</li>
                       <li>Open-source practitioner, contributions to open-source projects is a plus.</li>
                       <li>Understanding of agile software development methodologies and test driven development.</li>
                       <li>Strong skills with Linux operating system is a must, at intermediate user/scripting level experience.</li>
                       <li>Open-source practitioner, contributions to open-source projects is a plus.</li>
                       <li>Open for changes and continuous learning, can work under pressure.</li>
                       <li>Good knowledge of spoken and written English.</li>
                       <li>Team player, self motivated and passionate about technologies and innovation.</li>
                    </ul>
                 </div>
                 <button class="apply w-full my-4"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeFLnNf4hHoNJuTCfKzrcL4f8o938J0yHDjnHuk1b9rSEOqoQ/viewform" target="_blank"> Apply</a></button>
              </div>
           </div>
        </div>
     </div>
     <!-- Accordion item -->
     <div x-data="{ expanded: false }" class="py-2">
        <h2>
           <button
              id="faqs-title-02"
              type="button"
              class="flex items-center justify-between w-full text-left text-xl p-4 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-2 focus:ring-gray-200  hover:bg-gray-100 gap-3"
              @click="expanded = !expanded"
              :aria-expanded="expanded"
              aria-controls="faqs-text-02"
              >
              <span style="letter-spacing: normal;">Software Test Engineer</span>
              {# 
              <svg class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
              </svg>
              #}
              <svg class="fill-indigo-500 shrink-0 ml-8" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                 <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                 <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
              </svg>
           </button>
        </h2>
        <div
           id="faqs-text-02"
           role="region"
           aria-labelledby="faqs-title-02"
           class="grid text-sm text-slate-600 overflow-hidden transition-all duration-800 ease-in-out"
           :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
           >
           <div class="overflow-hidden">
              <div class="p-5 border border-b-0 border-gray-200">
                 <p class="mb-2 text-gray-500 text-md">As a Software Test Engineer in our team you will work closely with development and program management to help determine the vision, scope, design, testability and requirements for our next generation of the product.<br>
                    <br>
                    You will own the test innovation and test tools strategy, planning, and scheduling necessary to deliver a high quality product, including product feature validation, performance and scalability testing, and customer scenario-focused testing.
                 </p>
                 <div>
                    <h3 class="text-md font-semibold mb-2">Responsibilities:</h3>
                    <ul class="text-gray-500 text-md">
                       <li>Develop automated component and integration tests.</li>
                       <li>Create scripts and run big system tests.</li>
                       <li>Update and expand existing tests.</li>
                       <li>Verify product test coverage.</li>
                       <li>Expand and maintain the testing tool chain..</li>
                       <li>Works in the Quality Engineering Team and reports to the team lead.</li>
                    </ul>
                 </div>
                 <div>
                    <h3 class="text-md font-semibold mb-2">Requirements:</h3>
                    <ul class="text-gray-500 text-md">
                       <li>0-3 years experience in software development relevant to the described job.</li>
                       <li>Knowledge of C++ or Java.</li>
                       <li>Knowledge of Python and Python Libraries.</li>
                       <li>Excellent technical skills, attention to detail, debugging and problem solving skills.</li>
                       <li>Strong customer focus and passion for doing the right thing for the customer.</li>
                       <li>Proven track record as a strong Software Test Development Engineer in various aspects of testing</li>
                       <li>Successful completion of a full product development lifecycle, having shipped at least two versions of a product.</li>
                       <li>Deep understanding of database concepts is a must, hands on experience with PostgreSQL or MySQL is a must, experience with Object Store concepts is a plus.</li>
                       <li>Deep Knowledge of storage systems concepts and technologies (NAS, SAN, RAID, EXT3, GFS, Hadoop, etc ...).</li>
                       <li>Good knowledge of networking protocols (TCP/IP).</li>
                       <li>Understanding of agile software development methodologies and test driven development.</li>
                       <li>Strong skills with Linux operating system is a must, at intermediate user/scripting level experience.</li>
                       <li>Open-source practitioner, contributions to open-source projects is a plus.</li>
                       <li>Good knowledge of spoken and written English.</li>
                       <li>Willing to travel to abroad for training/deployments every 3-6 months.</li>
                       <li>Team player, self motivated and passionate for technology and innovation..</li>
                    </ul>
                 </div>
                 <button class="apply w-full my-4"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeFLnNf4hHoNJuTCfKzrcL4f8o938J0yHDjnHuk1b9rSEOqoQ/viewform" target="_blank"> Apply</a></button>
              </div>
           </div>
        </div>
     </div>
     <!-- Accordion item -->
     <div x-data="{ expanded: false }" class="py-2">
        <h2>
           <button
              id="faqs-title-03"
              type="button"
              class="flex items-center justify-between w-full text-left text-xl p-4 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-2 focus:ring-gray-200  hover:bg-gray-100 gap-3"
              @click="expanded = !expanded"
              :aria-expanded="expanded"
              aria-controls="faqs-text-03"
              >
              <span>Senior Software Engineer</span>
              <svg class="fill-indigo-500 shrink-0 ml-8" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                 <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                 <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
              </svg>
           </button>
        </h2>
        <div
           id="faqs-text-03"
           role="region"
           aria-labelledby="faqs-title-03"
           class="grid text-sm text-slate-600 overflow-hidden transition-all duration-800 ease-in-out"
           :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
           >
           <div class="overflow-hidden">
              <div class="p-5 border border-b-0 border-gray-200">
                 <p class="mb-2 text-gray-500 text-md">The senior software engineer will design and develop cutting-edge, reliable distributed systems and quality validation systems. He will work with the existing team on creating new cutting edge software systems through the whole software life cycles, starting from early research and prototyping using a variety of programming language and open-source frameworks.
                 </p>
                 <div>
                    <h3 class="text-md font-semibold mb-2">Responsibilities:</h3>
                    <ul class="text-gray-500 text-md">
                       <li>Conduct technology research and experiment with various tools and libraries.</li>
                       <li>Establish and direct software system testing and validation procedures, programming, and documentation.</li>
                       <li>Create installation manuals for all products and upgrades.</li>
                       <li>Prioritize resources and tasks, escalate issues, and manage problems.</li>
                       <li>Define quality guidelines and standards for the local team.</li>
                       <li>Validate quality, documentation, and design conformance.</li>
                       <li>Mentor and coach the team on effective technology utilization.</li>
                    </ul>
                 </div>
                 <div>
                    <h3 class="text-md font-semibold mb-2">Requirements:</h3>
                    <ul class="text-gray-500 text-md">
                    <li>Bachelor's or Master's degree in Computer Science, Engineering, or equivalent experience.</li>
                    <li>4-6 years of experience in software development.</li>
                    <li>Excellent written and spoken English proficiency.</li>
                    <li>Proven track record of customer-facing skills.</li>
                    <li>Ability to collaborate with international teams.</li>
                    <li>Adaptability to the startup environment.</li>
                    <li>Experience in Linux development.</li>
                    <li>Effective communication skills.</li>
                    <li>Possess exceptional communication, management, and technical skills.</li>
                    <li>Have a deep understanding of cloud computing, and data center systems</li>
                    <li>Target-driven and results-oriented.</li>
                    <li>Open to change and continuous learning.</li>
                    <li>Team player, self-managed, and motivated.</li>
                 </div>
                 <button class="apply w-full my-4"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeFLnNf4hHoNJuTCfKzrcL4f8o938J0yHDjnHuk1b9rSEOqoQ/viewform" target="_blank"> Apply</a></button>
              </div>
           </div>
        </div>
     </div>
  </div>
  <!-- End: Accordion component -->
</div>


{# <div class="container mx-auto pb-24">
  <div id="accordion-collapse" data-accordion="collapse">
    <h2 id="accordion-collapse-heading-1">
      <button type="button" class="flex items-center justify-between w-full text-xl p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200  hover:bg-gray-100 gap-3" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
        <span style="letter-spacing: normal;">Software Engineer</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
    <div class="p-5 border border-b-0 border-gray-200">
        <p class="mb-2 text-gray-500 text-md">The Software Engineer will work with the existing team on creating new cutting edge software systems using a variety of programming language and open-source frameworks.<br>
            The Software team is responsible for the software part of our productsand works in collaboration with our engineering team. The team is responsible for the perfect design of new products, seamless execution of upgrades, documentation and installation procedures.<br>
            As the requirements of our products are of a very high level, requirements for the personnel are similar. Therefore he or she needs outstanding technical skills, solid academic background and deep understanding of computer science concepts, algorithms and techniques.
        </p>
      <div>
        <h3 class="text-md font-semibold mb-2">Responsibilities:</h3>
        <ul class="text-gray-500 text-md">
            <li>Develop and modify software components.</li>
            <li>Works closely with Software Solution Developers to implement new features and enhancements.</li>
            <li>Write software automated unit and integration test cases.</li>
            <li>Contribute to installation manuals for all products and upgrades, educating the world about our products and technologies.</li>
        </ul>
      </div>
      <div>
        <h3 class="text-md font-semibold mb-2">Requirements:</h3>
        <ul class="text-gray-500 text-md">
            <li>Up to 3 years experience in software development relevant to the described job.</li>
            <li>Knowledge of Python.</li>
            <li>Achieves high quality results through thoughtful analysis and planning.</li>
            <li>Target driven and result oriented.</li>
            <li>Strong object-oriented skills, knowledge of GOF Design Patterns is a plus.</li>
            <li>Deep understanding of database concepts is a must, hands on experience with PostgreSQL or MySQL is a plus.</li>
            <li>Familiarity with Linux operating system is a must, at least use level experience.</li>
            <li>Knowledge of Javascript, Ajax frameworks is a plus.</li>
            <li>Open-source practitioner, contributions to open-source projects is a plus.</li>
            <li>Understanding of agile software development methodologies and test driven development.</li>
            <li>Strong skills with Linux operating system is a must, at intermediate user/scripting level experience.</li>
            <li>Open-source practitioner, contributions to open-source projects is a plus.</li>
            <li>Open for changes and continuous learning, can work under pressure.</li>
            <li>Good knowledge of spoken and written English.</li>
            <li>Team player, self motivated and passionate about technologies and innovation.</li>
        </ul>
      </div>
        <button class="apply w-full my-4"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeFLnNf4hHoNJuTCfKzrcL4f8o938J0yHDjnHuk1b9rSEOqoQ/viewform" target="_blank"> Apply</a></button>
    </div>
  </div> #}

{# second opportunity #}
   {# <h2 id="accordion-collapse-heading-2">
      <button type="button" class="flex items-center justify-between w-full p-5 text-xl font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
        <span style="letter-spacing: normal;">Software Test Engineer</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 text-md">As a Software Test Engineer in our team you will work closely with development and program management to help determine the vision, scope, design, testability and requirements for our next generation of the product.<br>
       <br>
            You will own the test innovation and test tools strategy, planning, and scheduling necessary to deliver a high quality product, including product feature validation, performance and scalability testing, and customer scenario-focused testing.
        </p>
        <div>
            <h3 class="text-md font-semibold mb-2">Responsibilities:</h3>
            <ul class="text-gray-500 text-md">
                <li>Develop automated component and integration tests.</li>
                <li>Create scripts and run big system tests.</li>
                <li>Update and expand existing tests.</li>
                <li>Verify product test coverage.</li>
                <li>Expand and maintain the testing tool chain..</li>
                <li>Works in the Quality Engineering Team and reports to the team lead.</li>
            </ul>
        </div>
        <div>
            <h3 class="text-md font-semibold mb-2">Requirements:</h3>
            <ul class="text-gray-500 text-md">
                <li>0-3 years experience in software development relevant to the described job.</li>
                <li>Knowledge of C++ or Java.</li>
                <li>Knowledge of Python and Python Libraries.</li>
                <li>Excellent technical skills, attention to detail, debugging and problem solving skills.</li>
                <li>Strong customer focus and passion for doing the right thing for the customer.</li>
                <li>Proven track record as a strong Software Test Development Engineer in various aspects of testing</li>
                <li>Successful completion of a full product development lifecycle, having shipped at least two versions of a product.</li>
                <li>Deep understanding of database concepts is a must, hands on experience with PostgreSQL or MySQL is a must, experience with Object Store concepts is a plus.</li>
                <li>Deep Knowledge of storage systems concepts and technologies (NAS, SAN, RAID, EXT3, GFS, Hadoop, etc ...).</li>
                <li>Good knowledge of networking protocols (TCP/IP).</li>
                <li>Understanding of agile software development methodologies and test driven development.</li>
                <li>Strong skills with Linux operating system is a must, at intermediate user/scripting level experience.</li>
                <li>Open-source practitioner, contributions to open-source projects is a plus.</li>
                <li>Good knowledge of spoken and written English.</li>
                <li>Willing to travel to abroad for training/deployments every 3-6 months.</li>
                <li>Team player, self motivated and passionate for technology and innovation..</li>
            </ul>
        </div>
            <button class="apply w-full my-4"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeFLnNf4hHoNJuTCfKzrcL4f8o938J0yHDjnHuk1b9rSEOqoQ/viewform" target="_blank"> Apply</a></button>
    </div>
</div>#}


 {# third opportunity #}
   {# <h2 id="accordion-collapse-heading-3">
      <button type="button" class="flex items-center justify-between text-xl w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
        <span style="letter-spacing: normal;">Senior Software Engineer</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
      <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 text-md">The senior software engineer will design and develop cutting-edge, reliable distributed systems and quality validation systems. He will work with the existing team on creating new cutting edge software systems through the whole software life cycles, starting from early research and prototyping using a variety of programming language and open-source frameworks.
             </p>
             <div>
                <h3 class="text-md font-semibold mb-2">Responsibilities:</h3>
                <ul class="text-gray-500 text-md">
                    <li>Conduct technology research and experiment with various tools and libraries.</li>
                    <li>Establish and direct software system testing and validation procedures, programming, and documentation.</li>
                    <li>Create installation manuals for all products and upgrades.</li>
                    <li>Prioritize resources and tasks, escalate issues, and manage problems.</li>
                    <li>Define quality guidelines and standards for the local team.</li>
                    <li>Validate quality, documentation, and design conformance.</li>
                    <li>Mentor and coach the team on effective technology utilization.</li>
                </ul>
            </div>
            <div>
                <h3 class="text-md font-semibold mb-2">Requirements:</h3>
                <ul class="text-gray-500 text-md">
                    <li>Bachelor's or Master's degree in Computer Science, Engineering, or equivalent experience.</li>
                    <li>4-6 years of experience in software development.</li>
                    <li>Excellent written and spoken English proficiency.</li>
                    <li>Proven track record of customer-facing skills.</li>
                    <li>Ability to collaborate with international teams.</li>
                    <li>Adaptability to the startup environment.</li>
                    <li>Experience in Linux development.</li>
                    <li>Effective communication skills.</li>
                    <li>Possess exceptional communication, management, and technical skills.</li>
                    <li>Have a deep understanding of cloud computing, and data center systems</li>
                    <li>Target-driven and results-oriented.</li>
                    <li>Open to change and continuous learning.</li>
                    <li>Team player, self-managed, and motivated.</li>
                   
            </div>
            <button class="apply w-full my-4"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeFLnNf4hHoNJuTCfKzrcL4f8o938J0yHDjnHuk1b9rSEOqoQ/viewform" target="_blank"> Apply</a></button>
      </div>
    </div>
  </div>
</div> #}

<style scoped>
  .apply{
  background-color: #3399CC !important;
  border-radius: 4px !important;
  }
  .apply a{
  color: #fff !important;
  }
  .apply:hover{
  background-color: #54b0df !important;
  }
</style>