
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

 <!--HTML CODE-->
 <div class="w-full relative">
    <div class="swiper default-carousel swiper-container">
    <div class="swiper-wrapper">
     <div class="swiper-slide w-full flex-shrink-0 flex items-center justify-center bg-cover bg-center" 
     style="background-image: url('images/slide1.png');">
     <div class="flex flex-col text-center text-white px-4 justify-center items-center">
        <h1 class="lg:text-7xl md:text-4xl text-white font-extrabold">Welcome To<br> CodeScalers Egypt</h1>
        <hr class="border-3 border-white round-md mb-4" style="width: 35%;">
        <p class="text-lg text-white max-w-lg font-semibold">
            We are an international software development house specialized in Cloud Computing, working with startups to help them achieve their goals.
        </p>
    </div>
     </div>
     <div class="swiper-slide w-full flex-shrink-0 flex items-center justify-center bg-cover bg-center" 
     style="background-image: url('images/slide2.png');">
     <div class="flex flex-col text-center text-white px-4 justify-center items-center">
        <h1 class="lg:text-7xl md:text-4xl text-white font-extrabold">Changing The Way
          <br> Of Delivering ITt</h1>
        <hr class="border-3 border-white round-md mb-4" style="width: 35%;">
        <p class="text-lg text-white max-w-lg font-semibold">
          Our goal is to make IT as easy to use, reliable and scalable as electricity. We rechallenge existing technologies, we also try to solve the root cause of issues.
        </p>
    </div>
     </div>
     <div class="swiper-slide w-full flex-shrink-0 flex items-center justify-center bg-cover bg-center" 
     style="background-image: url('images/slide3.png');">
     <div class="flex flex-col text-center text-white px-4 justify-center items-center">
        <h1 class="lg:text-7xl md:text-4xl text-white font-extrabold">Join us</h1>
        <hr class="border-3 border-white round-md mb-4" style="width: 35%;">
        <p class="text-lg text-white max-w-lg font-semibold">
          We are always looking for talented engineers, system administrators and developers to working with international customers.
        </p>
    </div>
     </div>
    </div>
    <div class="flex items-center gap-8 lg:justify-start justify-center">
     <button id="slider-button-left" class="swiper-button-prev ml-0 left-0 rounded-r-full" data-carousel-prev>
     </button>
     <button id="slider-button-right" class="swiper-button-next mr-0 right-0 rounded-l-full" data-carousel-next>
       {# <svg class="h-5 w-5 text-indigo-600 group-hover:text-white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
         <path d="M5.99984 4.00012L10 8.00029L5.99748 12.0028" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
       </svg> #}
     </button>
    </div>
    <div class="swiper-pagination"></div>
    </div>
    </div>
    

<style>
  /* CSS Code */
  .swiper-button-next, .swiper-button-prev{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    color: #000 !important;
  }

  .swiper-button-next:hover, .swiper-button-prev:hover{
    background-color: rgb(192, 230, 255);
  }
  .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 16px !important;
  }
  .swiper-wrapper {
    width: 100%;
    height: 60vh !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
    }
  .swiper-pagination-bullet {
    margin:0px 10px !important;
    width: 12px;
    height: 12px;
    background: #ffffff;
    }  
</style>

<!--JAVASCRIPT CODE-->
<script>
    var swiper = new Swiper(".default-carousel", {
    loop: true,
    pagination: {
    el: ".swiper-pagination",
    clickable: true,
    },
    navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
    },
    });
    </script>


