
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

 <!--HTML CODE-->
 <div class="w-full relative">
    <div class="swiper default-carousel swiper-container">
    <div class="swiper-wrapper">
     <div class="swiper-slide w-full flex-shrink-0 flex items-center justify-center bg-cover bg-center" 
     style="background-image: url('images/hero_1.png');">
     <div class="flex flex-col text-center text-white px-4 justify-center items-center">
        <h1 class="lg:text-7xl md:text-4xl text-white font-extrabold leading-none" data-aos="zoom-in">Welcome To<br> CodeScalers Egypt</h1>
        <hr class="border-3 border-white round-md mb-4" style="width: 35%;">
        <p class="text-lg text-white max-w-lg font-semibold">
            We are an international software development house specialized in Cloud Computing, working with startups to help them achieve their goals.
        </p>
    </div>
     </div>
     <div class="swiper-slide w-full flex-shrink-0 flex items-center justify-center bg-cover bg-center" 
     style="background-image: url('images/slide2.png');">
     <div class="flex flex-col text-center text-white px-4 justify-center items-center">
        <h1 class="lg:text-7xl md:text-4xl text-white font-extrabold leading-none">Changing The Way
          <br> Of Delivering IT</h1>
        <hr class="border-3 border-white round-md mb-4" style="width: 35%;">
        <p class="text-lg text-white max-w-lg font-semibold">
          Our goal is to make IT as easy to use, reliable and scalable as electricity. We rechallenge existing technologies, we also try to solve the root cause of issues.
        </p>
    </div>
     </div>
     <div class="swiper-slide w-full flex-shrink-0 flex items-center justify-center bg-cover bg-center" 
     style="background-image: url('images/slide3.png');">
     <div class="flex flex-col text-center text-white px-4 justify-center items-center">
        <h1 class="lg:text-7xl md:text-4xl text-white font-extrabold leading-none">Join us</h1>
        <hr class="border-3 border-white round-md mb-4" style="width: 35%;">
        <p class="text-lg text-white max-w-lg font-semibold mb-4">
          We are always looking for talented engineers, system administrators and developers to working with international customers.
        </p>
        <button class="py-3 my-2"><a href="/careers" class="text-sm md:text-md">Current opnings</a></button> 
    </div>
     </div>
    </div>
    <div class="flex items-center gap-8 lg:justify-start justify-center">
      <button id="slider-button-left" class="swiper-button-prev ml-0 left-0 rounded-r-full" aria-label="Previous slide" data-carousel-prev></button>
      <button id="slider-button-right" class="swiper-button-next mr-0 right-0 rounded-l-full" aria-label="Next slide" data-carousel-next></button>
      
    </div>
    <div class="swiper-pagination"></div>
    </div>
    </div>
    

<style>
  /* CSS Code */
  .swiper-button-next, .swiper-button-prev{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    color: #000 !important;
  }

  .swiper-button-next:hover, .swiper-button-prev:hover{
    background-color: rgb(192, 230, 255);
  }
  .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 16px !important;
  }
  .swiper-wrapper {
    width: 100%;
    height: 60vh !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
    }
  .swiper-pagination-bullet {
    margin:0px 10px !important;
    width: 12px;
    height: 12px;
    background: #ffffff;
    }

    .swiper-pagination-bullet-active {
      background: #ffffff !important; /* Highlight active bullet */
      transform: scale(1.2); /* Slightly enlarge active bullet */
  }
  
    
    @media (max-width: 768px) {
      .swiper-wrapper {
          height: 50vh !important;
      }
      .swiper-slide h1 {
        font-size: 2rem; /* Adjusted for smaller screens */
    }
    .swiper-slide p {
        font-size: 1rem;
    }
    .swiper-button-next, .swiper-button-prev{
      display: none;
  }
</style>

<!--JAVASCRIPT CODE-->
<script>

  var swiper = new Swiper(".default-carousel", {
    loop: true,
    speed: 700,
    autoplay: {
        delay: 5000,
        disableOnInteraction: false,
        pauseOnMouseEnter: true, // Pause autoplay when the mouse enters the slider
    },
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
    },
    lazy: {
        loadPrevNext: true,
    },
});

    </script>


