@tailwind base;
@tailwind components;
@tailwind utilities;

h2,
h1,
p {
    font-family: 'Outfit', sans-serif;
}

.blue {
    color: #217dbb;
}

.white_blue {
    color: #50adec;
}

.bg_blue {
    background-color: #ddf4ff;
}

.bg_blue_dark {
    background-color: #217dbb;
}

.dark_bg {
    background-color: #414141;
}

.cs-blue,
.cs-blue-50 {
    background-color: #8ecfef;
}

.cs-blue-50 {
    opacity: 0.5;
}

.cs-blue-50:hover {
    opacity: 1;
}

.mg-left {
    left: 44%;
}

.tooltip {
    position: relative;
    display : inline-block;
    cursor  : pointer;
}

.tooltip .tooltiptext {
    visibility      : hidden;
    width           : 125px;
    background-color: #555;
    color           : #fff;
    text-align      : center;
    border-radius   : 6px;
    padding         : 5px;
    position        : absolute;
    z-index         : 1;
    bottom          : 135%;
    left            : 60%;
    margin-left     : -75px;
    opacity         : 0;
    transition      : opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content     : '';
    position    : absolute;
    top         : 100%;
    left        : 50%;
    margin-left : -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.list>ul {
    list-style: disc !important;
}

.pagination a {
    margin-right: 10px;
}


/* Blog Post css */

.post-content-text h2{
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid rgb(216 222 228);
    margin-bottom: 16px;

}

.gridsome-highlight{
    padding: 16px;
    overflow: auto;
    font-size: 75%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 6px;
    margin-bottom: 16px;
}

.gridsome-highlight p{
    margin-top: 0;
    margin-bottom: 16px;
}

.post-content-text p{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
}

.post-content-text h3{
    font-size: 1.25em;
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
}

.keyword {
    color: #d73a49;
}

.string {
color: #032f62;
}

.function{
color: #6f42c1;
}


.number{
color: #005cc5;
}

/* .language-text{
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 90%;
    background-color: rgba(175,184,193,0.2);
    border-radius: 6px;
} */

.post-content ul {
    padding-left: 2em;
    margin-bottom: 16px;
}

.post-content ul li a{
    color:#217DBB;
    font-size: 16px
}

.post-content ul li {
    font-size: 16px
}

.post-content ul li a:hover{
    color:#44a7e9;
}

