name: Codescalers_egypt
on:
  push:
    branch: [ new_codescalers ]

jobs:
  job_one:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: pushing latest change on codescalers-egypt.com
      uses: appleboy/ssh-action@master
      with:
        host: codescalers-egypt.com
        username: webuser
        key: ${{ secrets.TF_SECRET }}
        port: 22
        script: |
          cd /home/webuser/websites/www3/www_codescalers_egypt/
          git log -1
          git pull
