name: Codescalers_egypt
on:
  push:
    branch: [ development ]

jobs:
  job_one:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: pushing latest change on www2.codescalers-egypt.com
      uses: appleboy/ssh-action@master
      with:
        host: www2.codescalers-egypt.com
        username: webuser
        key: ${{ secrets.TF_SECRET }}
        port: 34022
        script: |
          cd websites/www2/www_codescalers_egypt/
          git log -1
          git fetch
          git reset --hard origin/development
          sed -i "s/https:\/\/www3.codescalers-egypt.com/https:\/\/www2.codescalers-egypt.com/g" config.toml
          ./build.sh
