name: Codescalers_egypt
on:
  push:
    branches: [ development_gridsome ]

jobs:
  job_one:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: pushing latest change on www2.codescalers-egypt.com
      uses: appleboy/ssh-action@master
      with:
        host: www2.codescalers-egypt.com
        username: webuser
        key: ${{ secrets.TF_SECRET }}
        port: 34022
        script: |
          cd /home/webuser/websites/www2/www_codescalers_egypt/
          git log -1
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
          node -v
          git pull
          gridsome build
